@import url(https://fonts.googleapis.com/css?family=Aboreto);

/* header style */

#heading {
    font-family: "aboreto";
    font-size: 350%;
    color: rgb(94, 170, 233);
    text-align: center;
    text-transform: uppercase;
}

#heading {
    float: none;
    line-height: 70px;
}

body {
    font-family: "aboreto";
    font-weight: 200;
    color: black;
}

/* menu stlying */

#menu {
    font-family: "aboreto";
    font-size: 110%;
    letter-spacing: 5px;
    line-height: 50px;
    border: 20px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 24px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* change color to sea blue/green */

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* About guernsey here add style to the title and informtion */

#visit {
    font-family: "aboreto";
    text-orientation: center;
}

/* Add image style here for index page*/

#harbour-image {
    height: 500px;
    width: 100%;
    background-image: url('../images/guernsey-501805_1920.jpg');
}

#harbour-image {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* Add image style here for activities page */

#boat-image {
    height: 450px;
    width: 100%;
    background-image: url('../images/boat-2392857_1920.jpg');
    background-position-y: 0px;
}

#boat-image {
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

/* Add image style here for gallery */




/* Add image style here for footer */

footer {
    height: 150px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
}

