@import url(https://fonts.googleapis.com/css?family=Aboreto);

/* header style */

#heading {
    font-family: "aboreto";
    font-size: 350%;
    color: rgb(94, 170, 233);
    text-align: center;
    text-transform: uppercase;
}

#heading {
    float: none;
    line-height: 70px;
}

body {
    font-family: "aboreto";
    font-weight: 200;
    color: black;
}

/* menu stlying */

#menu {
    font-family: "aboreto";
    font-size: 110%;
    letter-spacing: 5px;
    line-height: 50px;
    border: 20px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 24px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* change color to sea blue/green */

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* About guernsey here add style to the title and informtion */

#visit {
    font-family: "aboreto";
    text-orientation: center;
}

/* Add image style here for index page*/

#harbour-image {
    height: 450px;
    width: 100%;
    display: flex;
    background-image: url('../images/guernsey-501805_1920.jpg');
}

#harbour-image {
    background-size: cover;
    background-position: center;
}

/* Add image style here for activities page */

#boat-image {
    height: 450px;
    width: 100%;
    display: flex;
    background-image: url('../images/boat-2392857_1920.jpg');
}

#boat-image {
    background-size: cover;
    background-position: center;
}

/* Add image style here for gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    gap: 8px;
}

#photos>img {
    width: 100%;
}

/* Add image style here for footer */

footer {
    height: 150px;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
}

/* Add image style here for sign up page */

.form-section {
    background-image: url(../images/gallery/travis-leery-a7XVe2Sje5I-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
    align-items: center;
}

.signup-form {
    color: #fff;
    background-color: rgba(120, 111, 111, 0.6);
    width: 20vw;
    height: 20vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form h1 {
    color: #fafafa;
    margin-bottom: 10px;
    position: top center;
}

.text-input {
    width: 100%;
    top: 25px;
    padding: 25px 30px;
    margin: 8px 0 8px 0;
    display: inline-table;
    border: 5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
}

.text-input:hover {
    border-color: #5bcb38;
}

.sign-button {
    margin-top: 25px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    position: center;
    font-size: 100%;
    background-color: #5bcb38;
    color: #fafafa;
    display: flex;
}

.sign-button:hover {
    background-color: #fafafa;
    color: #5bcb38;
}

@media screen and (max-width: 1400px) {}